<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49994168396-sfj9vu583e1pd583s59c4pt9anfhjl20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49994168396-sfj9vu583e1pd583s59c4pt9anfhjl20</string>
	<key>API_KEY</key>
	<string>AIzaSyCKki5P1lxtqMwMf-gdt-UiP3ZFujgLVPg</string>
	<key>GCM_SENDER_ID</key>
	<string>49994168396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PixelConnect</string>
	<key>PROJECT_ID</key>
	<string>pixel-connect-2d15e</string>
	<key>STORAGE_BUCKET</key>
	<string>pixel-connect-2d15e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49994168396:ios:c03344009c3cf5a0cf9ce9</string>
</dict>
</plist>